
{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
</head>
<body>
    <nav>
        <a href="{% url 'post_list' %}">Home</a>
        <a href="{% url 'post_create' %}">Create Post</a>
        {% if user.is_authenticated %}
           Hi {{ user.username }}!
       <p><a href="{% url 'logout' %}">Log Out</a></p>
       {% else %}
       <p>You are not logged in</p>
       <a href="{% url 'login' %}">Log In</a>
        {% endif %}
    </nav>
    <main>
        {% block content %}
        {% endblock %}
    </main>
</body>
</html>
